/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/fonts
/resources/js/app.js
/resources/css/app.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
